.espaciado{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

ion-select{
    max-width: 100% 
}

.tabla{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    
}

.linea{
    border-bottom:1px solid black;
    text-align: center;

}

.listaingreso{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
}

.texto{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

.titulo{
    margin-top:5px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}