<ion-header>
  <ion-toolbar>
    <ion-title>usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>Detalles del Usuario</ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let item of usuario">
        <ion-item>
            Nombre : {{item.nombre}}
        </ion-item>

        <ion-item>
            Correo : {{item.email}}
        </ion-item>

        <ion-item>
            Celular : {{item.celular}}
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-item>Detalles de Usuario</ion-item>

  <ion-item>Ingresos : $ {{ingresos}}</ion-item>

  <ion-item>Gastos : $ {{gastos}}</ion-item>

  <ion-item>Total : $ {{total | number:"1.0-2"}}</ion-item>

</ion-content>
